@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

nav {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    align-items: center;
}
